body {
    background-color: rgb(202, 199, 199);
}
header { grid-area: header; }
.video { grid-area: main; }
.sidebar { grid-area: side; }
footer { grid-area: foot; }

.container {
    max-width: 1000px;
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main side'
    'foot foot foot';
    margin: auto;
    grid-gap: 10px;
    background-color: rgb(202, 199, 199);
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    
}
#signin {
    width: 80px;
    height: 30px;
    background-color: rgb(23, 152, 226);
}
#language p {
    background-color: rgb(23, 152, 226);
    padding: 10px;
    color: white;
}
#language span {
    float: right;
    color: white;
}
#menu{
    width: 15px;
    height: 15px;
    padding: 15px;
}
#youtube_logo {
    width: 100px;
    height: 50px;
}
input {
    width: 600px;
    height: 30px;
}
#search_icon {
    width: 20px;
    height: 20px;
    border: solid gray 1px;
}

#upload {
    width: 20px;
    height: 20px;
}
#learn_more a {
    float: right;
}
.sidebar, header, footer, .video {
 background-color: white;
}
#subscribe {
    width: 100px;
    height: 50px;
}
#footer_logo {
    width: 100px;
    height: 50px;   
}
ul {
list-style-type: none;
}

footer {
    justify-content: space-between;
    
}
span {
    text-align: center;
    position: relative;
}