/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(206, 206, 206); 
}
header { grid-area: header; }
.video_screen { grid-area: video; }
.video_details { grid-area: details; }
.description { grid-area: description; }
.loading { grid-area: loading; }
.sidebar { grid-area: side; }
footer { grid-area: foot; }
.empty { grid-area: empty; }

.container {
    max-width: 1000px;
    display: grid;
    grid-template-areas: 
    'header header header'
    'video video side'
    'details details side'
    'description description side'
    'loading loading side'
    'empty empty side'
    'foot foot foot';
    margin: auto;
    grid-gap: 8px;
    background-color: rgb(206, 206, 206);  
    border: solid gray 1px;
}
nav {
    display: flex;
    justify-content: space-between;
    
}
#signin {
    width: 60px;
    height: 30px;
    background-color: rgb(23, 152, 226);
    color: white;
    border: none;
    border-radius: 4px;
    margin: 7px;
}
#language p {
    background-color: rgb(23, 152, 226);
    padding: 10px;
    color: white;
}
#language span {
    float: right;
    color: white;
}
#menu{
    width: 15px;
    height: 15px;
    padding: 15px;
}
#youtube_logo {
    width: 100px;
    height: 50px;
}
input {
    width: 600px;
    height: 30px;
    margin-top: 7px;
}
#search_icon {
    width: 20px;
    height: 20px;
}
#upload {
    width: 20px;
    height: 20px;
    margin-top: 7px;;
}
#learn_more a {
    float: right;
}
#learn_more p {
    border: solid rgb(23, 152, 226) 2px;
    padding: 7px;
}

.sidebar, header, footer, .video_details, .description, .loading{
 background-color: white;
 padding: 10px;
}
.video_icons_left {
    float: left;

}
.video_icons_right {
    float: right;
    
}
#show_more {
    text-align: center;
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}
#subscribe {
    width: 100px;
    height: 50px;
}
#footer_logo {
    width: 100px;
    height: 50px;   
}
ul {
list-style-type: none;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
footer button {
    height: 20px;
}
#userlogo {
    float: left;
}
#views {
    float: right;
    font-size: large;
    color: gray;
    font-weight: bold;
}
#subscribe {
    height: 25px;
    width: 80px;
}
#video_details {
    padding-left: 10px;
    padding-right: 10px;
}
#username span, #username, #subscribe{
    padding-left:10px;
    padding-bottom: 6px;
}
#userdetails {
    padding-top: 10px;
}

.empty {
    height: 500px;
}

.loading {
    text-align: center;
}
ul span {
    display: block;
    position: relative;
    float: right;
}